/* .text-decorator-none{
    background-color: #dbebe1 !important;
    color: #13c04f!important;
} */

.cardprod{
    margin-right: 65px;
    height: 350px;
    width: auto;
    
    
}

.cadastroProd {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: '100px';
    height: '100px';

}

.cadastroProdIcon {
    border-radius: 50% !important
}
.Search {
    width: 15% !important;
    top: 0 !important;
    margin-left: 37rem !important;
    margin-top: 3rem !important;
}
.cmp{
   width: 15% !important;
   margin-top: 4rem!important;
   margin-left: 0 auto !important;
   margin-right: 20px !important;
}

.botao{
     
     background-Color: '#0f2a00 ';
     padding: '10px 20px';
     border-Radius: '5px';
     border: 'none';
     
     

}