/* .text-decorator-none{
    background-color: #dbebe1 !important;
    color: #13c04f!important;
} */

.cardprod{
   
}

.cadastroProd {


    position: fixed;
    bottom: 1rem;
    right: 1rem;

}

.cadastroProdIcon {
    border-radius: 50% !important
}
.Search {
    width: 20% !important;
    top: 30px !important;
    margin-left: 37rem !important;
    margin-top: 3rem !important;
}