.text-decorator-none{
    text-decoration: none;
}

.botao{
    background-color: #0f2a00 !important;
}
.campo .MuiOutlinedInput-notchedOutline{
    border-width: 2px;
    border-color: black;
}
.campo .MuiFormLabel-root, .campo .MuiFocused{

    color: black;
}