.fundo{
  background-color: #86af37;
  margin-bottom: 300px; 

}

.t1{
  text-align: center;
  font-size: larger;
}

.txtcolor{
  margin-top: "700px";
  margin-bottom:"300px";

}

.Gridimg{
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 140px;
}

.txt{
  color: rgb(255, 255, 255) !important;
  size: 15;
}