.fundo{
  background-color: #86af37;
  margin-bottom: 300px;
}

.t1{
  text-align: center !important;
  color: #0f2a00;

}

.txtcolor{
  margin-top: "700px";
  margin-bottom:"300px";

}
.txt2{
  text-align: center;
}

.Gridimg{
  justify-items: center !important;
}

.txt{
  color: rgb(255, 255, 255) !important;
  size: 15;
}

.imgbanner{
  width: 100%;
}