.fundo{
  background-color: #86af37;
  margin-bottom: 300px;
}

.t1{
  text-align: center !important;
  color: #0f2a00;

}

.txtcolor{
  margin-top: "700px";
  margin-bottom:"300px";

}
.txt{
  text-align: center !important;
  align-items: center;
  justify-content: center;  
  color: rgb(255, 255, 255) !important;
  size: 15;  
  margin-bottom: auto;
} 

.imgbanner{
  width: 100%;
  justify-items: center !important;
}

.img{
  width: 630px;
  height: 330px;
}


/*.txt3{
  background-color: blue !important;
}*/

.cx{
  justify-Content: "center" !important; 
  align-Content:'center' !important;
}
.img2{
  width: 550px;
  height: 400px; 
  
}