.foto{
    border-radius: 30px !important;
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    
    
}

.Ze{

    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
}

.flexContainer{
    display: flex;
    justify-content: flex-end;
   
}
.body{
   width: 1200px;
}