.img{
    border-radius: 30px !important;

    
}

.Ze{

    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
}

.flexContainer{
    display: flex;
    justify-content: flex-end;
  
}
.body{
   
}